<h1> {{ titulo }} </h1>
<!-- <ul ng-if="items.length > 0">
    <li ng-repeat="post in items">
        <a href="#" > {{post.titulo}} </a> 
        
        
    </li>
</ul> -->

<div class="container">
        <div class="row">
        <div class="col-xs-18 col-sm-6 col-md-3" *ngFor="let item of items">
                <div class="thumbnail">
                <img src="{{ item.img }}" width="10%" height="10%"/>
                    <div class="caption">
                    <h4>{{ item.titulo}}</h4>
                    <p>{{ item.fecha}}</p>
                    <p><a href="#" class="btn btn-info btn-xs" role="button">Ver</a></p>
                </div>
                </div>
            </div>        
        </div>
       
</div>



<button (click)="cosa()">prueba apiRest</button>
