<h1>
  Un CheckList :D
</h1>

<!-- <button (click)="cambiarNombre('jose')"> Cambiar nombre a jose</button>
<h3 *ngIf="visible">Soy visible</h3 >

<template ngFor let-item [ngForOf]="items">
  <li *ngIf="item.check">
   <p [style.backgroundColor]="pruebaClasesCss"> {{ item.cosa }} </p> 
  </li>
</template> -->

<span *ngIf="lista.length === 0" > No hay tareas pendientes :)</span>
<ul>
  <li *ngFor="let item of lista">
   <input type="checkbox" [(ngModel)]="item.tachado"> <span [style.textDecoration]="item.tachado?'line-through':'none'"> {{ item.detalle }} </span> <button (click)="eliminarItem(item)"> Eliminar </button>
  </li>
</ul>


<input type="text" [(ngModel)]="nombre"> <button (click) ="agregarToDo(nombre)"> Agregar</button>
